Code_Testing/

Training/Data/Datasets/AffineMNIST/*
!Training/Data/Datasets/AffineMNIST/.gitkeep
Training/Data/Datasets/CorruptedMNIST/*
!Training/Data/Datasets/CorruptedMNIST/.gitkeep
Training/Data/Datasets/PAM50/*
!Training/Data/Datasets/PAM50/.gitkeep
Training/Data/Datasets/TMNIST/*
!Training/Data/Datasets/TMNIST/.gitkeep
Theoretical_aspects/*

Training/Trainer/Checkpoints/
Testing/

Results/*
!Results/.gitkeep

DEPREC/
Utils/stats_utils.py

XAI_Method/causal_effect_last.py
XAI_Method/causal_effect_next.py